@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import "tailwindcss";

*{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}

body{
  @apply bg-[#FAF3E0] text-[#2D2A32];
}

.scrollbar-hide::-webkit-scrollbar{
  display: none;
}

.scrollbar-hide{
  scrollbar-width: none;
}